{% extends 'queries/querytemplate.html' %}

{% block title %}<h3>Получить сведения об участии указанного сотрудника или категории сотрудников в
проектах (договорах) за определенный период времени:</h3>{% endblock %}

{% block content %}
    <form class="form" action="{% url 'query8' %}" method="post">
    {% csrf_token %}
    {{ worker_form.as_p }}
    <button type="submit" style="margin-bottom: 1%" name="worker_form_request">Поиск</button>
    </form>

    <table class="table-bordered" style="text-align: center; margin: 0 0 3em 0">
    {% if worker_data_contracts %}
    <td style="padding: 0 6px 0 6px">Worker Name</td>
    <td style="padding: 0 6px 0 6px">Group Name</td>
    <td style="padding: 0 6px 0 6px">Appointment Date</td>
    <td style="padding: 0 6px 0 6px">Dismissal Date</td>
    <td style="padding: 0 6px 0 6px">Contract Info</td>
    <td style="padding: 0 6px 0 6px">Beginning Of Work</td>
    <td style="padding: 0 6px 0 6px">End Of Work</td>
    {% endif %}

    {% for i in worker_data_contracts %}
        <tr>
            <td style="padding: 0 6px 0 6px">{{ i.worker_name }}</td>
            <td style="padding: 0 6px 0 6px">{{ i.group_name }}</td>
            <td style="padding: 0 6px 0 6px">{{ i.appointment_date }}</td>
            <td style="padding: 0 6px 0 6px">{{ i.dismissal_date }}</td>
            <td style="padding: 0 6px 0 6px">{{ i.contract_info }}</td>
            <td style="padding: 0 6px 0 6px">{{ i.beginning_of_work }}</td>
            <td style="padding: 0 6px 0 6px">{{ i.end_of_work }}</td>
        </tr>
    {% endfor %}
    </table>

    <table class="table-bordered" style="text-align: center; margin: 0 0 3em 0">
    {% if worker_data_projects %}
    <td style="padding: 0 6px 0 6px">Worker Name</td>
    <td style="padding: 0 6px 0 6px">Group Name</td>
    <td style="padding: 0 6px 0 6px">Appointment Date</td>
    <td style="padding: 0 6px 0 6px">Dismissal Date</td>
    <td style="padding: 0 6px 0 6px">Project Info</td>
    <td style="padding: 0 6px 0 6px">Beginning Of Work</td>
    <td style="padding: 0 6px 0 6px">End Of Work</td>
    <td style="padding: 0 6px 0 6px">Work Price</td>
    {% endif %}

    {% for i in worker_data_projects %}
        <tr>
            <td style="padding: 0 6px 0 6px">{{ i.worker_name }}</td>
            <td style="padding: 0 6px 0 6px">{{ i.group_name }}</td>
            <td style="padding: 0 6px 0 6px">{{ i.appointment_date }}</td>
            <td style="padding: 0 6px 0 6px">{{ i.dismissal_date }}</td>
            <td style="padding: 0 6px 0 6px">{{ i.project_info }}</td>
            <td style="padding: 0 6px 0 6px">{{ i.beginning_of_work }}</td>
            <td style="padding: 0 6px 0 6px">{{ i.end_of_work }}</td>
            <td style="padding: 0 6px 0 6px">{{ i.work_price }}</td>
        </tr>
    {% endfor %}
    </table>



    <form class="form" action="{% url 'query8' %}" method="post">
    {% csrf_token %}
    {{ category_form.as_p }}
    <button type="submit" style="margin-bottom: 1%" name="category_form_request">Поиск</button>
    </form>

    <table class="table-bordered" style="text-align: center; margin: 0 0 3em 0">
    {% if category_data_contracts %}
    <td style="padding: 0 6px 0 6px">Worker Name</td>
    <td style="padding: 0 6px 0 6px">Category ID</td>
    <td style="padding: 0 6px 0 6px">Group Name</td>
    <td style="padding: 0 6px 0 6px">Appointment Date</td>
    <td style="padding: 0 6px 0 6px">Dismissal Date</td>
    <td style="padding: 0 6px 0 6px">Contract Info</td>
    <td style="padding: 0 6px 0 6px">Beginning Of Work</td>
    <td style="padding: 0 6px 0 6px">End Of Work</td>
    {% endif %}

    {% for i in category_data_contracts %}
        <tr>
            <td style="padding: 0 6px 0 6px">{{ i.worker_name }}</td>
            <td style="padding: 0 6px 0 6px">{{ i.worker_category_id }}</td>
            <td style="padding: 0 6px 0 6px">{{ i.group_name }}</td>
            <td style="padding: 0 6px 0 6px">{{ i.appointment_date }}</td>
            <td style="padding: 0 6px 0 6px">{{ i.dismissal_date }}</td>
            <td style="padding: 0 6px 0 6px">{{ i.contract_info }}</td>
            <td style="padding: 0 6px 0 6px">{{ i.beginning_of_work }}</td>
            <td style="padding: 0 6px 0 6px">{{ i.end_of_work }}</td>
        </tr>
    {% endfor %}
    </table>

    <table class="table-bordered" style="text-align: center; margin: 0 0 3em 0">
    {% if category_data_projects %}
    <td style="padding: 0 6px 0 6px">Worker Name</td>
    <td style="padding: 0 6px 0 6px">Category ID</td>
    <td style="padding: 0 6px 0 6px">Group Name</td>
    <td style="padding: 0 6px 0 6px">Appointment Date</td>
    <td style="padding: 0 6px 0 6px">Dismissal Date</td>
    <td style="padding: 0 6px 0 6px">Project Info</td>
    <td style="padding: 0 6px 0 6px">Beginning Of Work</td>
    <td style="padding: 0 6px 0 6px">End Of Work</td>
    <td style="padding: 0 6px 0 6px">Work Price</td>
    {% endif %}

    {% for i in category_data_projects %}
        <tr>
            <td style="padding: 0 6px 0 6px">{{ i.worker_name }}</td>
            <td style="padding: 0 6px 0 6px">{{ i.worker_category_id }}</td>
            <td style="padding: 0 6px 0 6px">{{ i.group_name }}</td>
            <td style="padding: 0 6px 0 6px">{{ i.appointment_date }}</td>
            <td style="padding: 0 6px 0 6px">{{ i.dismissal_date }}</td>
            <td style="padding: 0 6px 0 6px">{{ i.project_info }}</td>
            <td style="padding: 0 6px 0 6px">{{ i.beginning_of_work }}</td>
            <td style="padding: 0 6px 0 6px">{{ i.end_of_work }}</td>
            <td style="padding: 0 6px 0 6px">{{ i.work_price }}</td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}