{% extends 'queries/querytemplate.html' %}

{% block title %}<h3>Получить сведения об эффективности проектов (стоимость проектов соотнесенная с
затраченным временем или стоимость с учетом привлеченных людских ресурсов):</h3>{% endblock %}

{% block content %}
    <table class="table-bordered" style="text-align: center">
    {% if data %}
    <td style="padding: 0 6px 0 6px">Project Info</td>
    <td style="padding: 0 6px 0 6px">Project Price</td>
    <td style="padding: 0 6px 0 6px">Group Days Consumed</td>
    <td style="padding: 0 6px 0 6px">Efficiency</td>
    {% endif %}

    {% for i in data %}
        <tr>
            <td style="padding: 0 6px 0 6px">{{ i.project_info }}</td>
            <td style="padding: 0 6px 0 6px">{{ i.project_price }}</td>
            <td style="padding: 0 6px 0 6px">{{ i.group_days_consumed }}</td>
            <td style="padding: 0 6px 0 6px">{{ i.efficiency }}</td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}